@{
    ViewBag.Title = "Home Page";
}

<div id="form">
    <h1>Total An<del>o</del><ins>a</ins>mnesis</h1>
    <form name="f">
        <script src="~/Scripts/game1.js"></script>
        <script src="~/Scripts/table1.js"></script>
        <br>
        <input type="button" value="Start game" name="olympic" onclick="init1()">
    </form>
</div>