<!DOCTYPE html>
<html ng-app="Blog">
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-sanitize.js"></script>
	<style>
		.ng-valid.ng-dirty { border-color:green;}
		.ng-invalid.ng-dirty {border-color:red;}
	</style>
	<script>
		<!-- Angular code goes here -->
		var app = angular.module('Blog', ['ngSanitize']);
		
		app.controller('BlogController', function() {
			this.posts = posts;
		});
		
		app.controller('CommentController', function() {
			//TODO, fill in the comment controller
			this.newComment = {};
			this.addComment = function(post) { 
			this.newComment.createdOn = Date.now();
			post.comments.push(this.newComment);
			this.newComment = {};
			};
		});
		
		var posts = [
			{
				title: "Cats are for jerks",
				authorImage: 'insanity.jpg',
				author: 'Insanity Puppy',
				createdOn: 1397490980837,
				body: '<p>We should have seen it coming when cats started bullying dogs with reckless abandon. Instead, we laughed at how easily they were intimidated. Now, with dogs all but conquered where will cats turn their attention next?</p><p>In March, a 22-pound cat named Lux trapped his owners in their Portland bedroom. Then last month, Cuppy the cat flew into a rage in San Diego County, resulting in a police intervention.</p><p>This is only the beginning. In an effort to raise awareness, we have put together a compilation of cats bullying people. Remember, it could be you calling for a hostage negotiator from your kitchen closet next.</p>',
				comments: 
				[
					{
						author: 'CatLuver22@gmail.com',
						createdOn: 1397490980837,
						title: 'Cats are great, you are not great.',
						body: 'nuff said'
					},
					{
						author: 'dogs4lyfe@yolo.com',
						createdOn: 1397490980837,
						title: 'sing it brother!',
						body: 'also nuff said'
					}
				]
			},
			{
				title: "Cats are dumb",
				authorImage: 'insanity.jpg',
				author: 'Insanity Puppy',
				createdOn: 1397490980837,
				body: '<p>Cats are dumb, that is all.</p>',
				comments: 
				[
					{
						author: 'CatLuver22@gmail.com',
						createdOn: 1397490980837,
						title: 'Cats are great, you are not great.',
						body: 'nuff said'
					},
					{
						author: 'dogs4lyfe@yolo.com',
						createdOn: 1397490980837,
						title: 'sing it brother!',
						body: 'also nuff said'
					}
				]
			}
		]
		
	</script>
  </head>

  <body ng-app="Blog">
    <section class="container" ng-controller="BlogController as blgCtrl">
		<div class="panel" ng-repeat="post in blgCtrl.posts">

				<h3>{{ post.title }}</h3>
				<img class="img-rounded" height="75" width="75" ng-src="{{ post.authorImage }}"/> <!--set the image to the author image -->
				<em>By {{ post.author }} on {{ post.createdOn | date:'d MMMM yyyy' }}</em>
				<div ng-bind-html="post.body"></div>
				
				<h4>Comments</h4>
					<ul>
					  <li class="list-unstyled" ng-repeat="comment in post.comments">
						<blockquote>
						  <strong>{{ comment.title }}</strong><br/>
						  {{ comment.body }}
						  <cite class="clearfix">{{ comment.author }} on {{ comment.createdOn | date:'d MMMM yyyy' }}</cite>
						</blockquote>
					  </li>
					</ul>
			
		
				<div  ng-controller="CommentController as cmtCtrl">
					<form class="form-horizontal" name="CommentForm" ng-submit="cmtCtrl.addComment(post)">
					
						<h6>Add a comment</h6>
						<!-- live preview -->
						
						 <blockquote >
							<strong>Title: {{cmtCtrl.newComment.title}}</strong><br/>
							Comment: {{cmtCtrl.newComment.body}}
							<cite class="clearfix">Author: {{cmtCtrl.newComment.email}}</cite>
						  </blockquote>
						  
						  
						  <fieldset class="form-group">
							<input  type="email" class="form-control" placeholder="yourEmail@someplace.com" title="Author"  ng-model="cmtCtrl.newComment.email"/>
						  </fieldset>
						  <fieldset class="form-group">
							<input  class="form-control" placeholder="Title" title="Title" ng-model="cmtCtrl.newComment.title"/>
						  </fieldset>
						  <fieldset class="form-group">
							<textarea class="form-control" placeholder="What do you want to say...?" title="Body" ng-model="cmtCtrl.newComment.body"></textarea>
						  </fieldset>
						  
						  <fieldset class="form-group">
							<input type="submit" class="btn btn-primary pull-left" value="Comment" />
						  </fieldset>
					</form>
					
				</div>
			</div>
		
	</section>
  </body>
</html>